* {
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3e3d;
}
body {
  background: #ffffff url('/Resource/gfx/bg.png');
  margin: 0;
  padding: 0;
}
input {
  width: 236px;
  height: 26px;
  border: 1px solid #d2d2d2;
  padding: 0 10px;
  outline: none;
  font-size: 15px;
}
input:focus {
  background: #FFFDF2;
}
input[type="submit"] {
  height: 28px;
  width: auto;
  border: 1px solid #7BC574;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  background: #8cd585;
  background: -moz-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cd585), color-stop(23%, #82cd7a), color-stop(86%, #55ad4c), color-stop(100%, #4fa945));
  background: -webkit-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: -o-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: -ms-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: linear-gradient(to bottom, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@c1', endColorstr='@c4', GradientType=0);
}
a {
  text-decoration: none;
  color: #58b84e;
  text-shadow: #58b84e 0 0 1px;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 860px;
  margin: auto;
}
header {
  background: url('/Resource/gfx/bg-header.png');
  height: 85px;
  width: 100%;
}
header div.wrapper {
  padding: 11px 0;
}
header div.wrapper img {
  position: relative;
  top: 10px;
  margin: 0 15px 0 0;
}
header div.wrapper span {
  font-size: 18px;
  margin: 0 42px 0 0;
}
header div.wrapper form {
  display: inline;
}
header div.wrapper form input {
  margin: 0 0 0 14px;
}
header div.wrapper form input[type="text"], header div.wrapper form input[type="password"]
{
	width: 189px;
}
header div.wrapper #btnLogOut {
  float: right;
  margin: 20px 0 0 0;
}
nav{
    display:inline-block;
}
#content {
  margin-bottom: 15px;
  min-height: 560px;
}
#content div.wrapper {
  margin: 38px auto;
}
#content div.wrapper img {
  border-radius: 6px;
  float: left;
}
#content div.wrapper div.panel {
  border: 1px solid #d2d2d2;
  background: white;
  margin: 0;
  margin-bottom: 29px;
  border-radius: 6px;
  font-size: 14px;
}
#content div.wrapper div.panel.right {
  width: 303px;
  height: 313px;
  float: right;
}
#content div.wrapper div.panel.right textarea.ribbitText {
  width: 249px;
  height: 160px;
  border: 1px solid #d2d2d2;
}
#content div.wrapper div.panel.left {
  width: 533px;
  float: left;
}
#content div.wrapper div.panel.left div.ribbitWrapper {
  padding: 15px 0;
  border-bottom: 1px solid #d2d2d2;
  min-height:80px;
}
#content div.wrapper div.panel.left div.ribbitWrapper:last-child {
  border: none;
}
#content div.wrapper div.panel.left div.ribbitWrapper span.name {
  font-size: 18px;
  color: #58B84E;
}
#content div.wrapper div.panel.left div.ribbitWrapper span.time {
  font-size: 12px;
  color: #CCC;
}
#content div.wrapper div.panel.left div.ribbitWrapper img.avatar {
  margin: 0 19px 0 20px;
  float: left;
}
/*Edited Margin width 90 -> 119 */
#content div.wrapper div.panel.left div.ribbitWrapper p {
  margin: 5px 50px 0 119px; 
  padding: 0;
  text-align: justify;
  line-height: 1.5;
  color: #3f3e3d;
  text-shadow: #3f3e3d 0 0 1px;
}
#content div.wrapper div.panel.left div.ribbitWrapper p span.spacing {
  padding-left: 9px;
  margin-left: 9px;
  height: 10px;
  border-left: 1px solid #d2d2d2;
}
#content div.wrapper div.panel * {
  margin: 6px 0;
}
#content div.wrapper div.panel form {
  padding: 0 23px;
}
#content div.wrapper div.panel h1 {
  border-bottom: 1px solid #d2d2d2;
  margin: 5px 0;
  font-weight: normal;
  font-size: 18px;
  padding: 13px 23px;
  height: 23px;
}
#content div.wrapper div.panel p {
  padding: 0 24px;
  margin: 18px 0;
}
footer {
  background: url('/Resource/gfx/bg-footer.png');
  height: 251px;
  font-size: 14px;
  clear: both;
}
footer div.wrapper {
  padding: 15px;
}
footer div.wrapper img {
  float: right;
}
#content .flash {
    padding: 10px;
    margin: 20px 0;
}
#content .flash.error{
    background: #ffefef;
    color: #4c1717;
    border: 1px solid #4c1717;
}
#content .flash.warning{
    background: #ffe4c1;
    color: #79420d;
    border: 1px solid #79420d;
}
#content .flash.notice{
    background: #efffd7;
    color: #8ba015;
    border: 1px solid #8ba015;
}
nav a{
    margin-right:18px;
}